.navigation {
    display: block;
    width: 50%;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.993);
    padding-left: 10%;
    margin: auto;
}

html{
    background-image: url(../Images/code\ background.gif) ;
    background-size: cover;
}

.box{
    width: 55%;
    margin: auto; /* Space from this element (entire page) and others*/
    padding: 0%; /*space from content and border*/
    border: solid rgb(238, 238, 238);
    border-width: 2px;
    display:block;
    background-color: white;
    border-radius: 25px;
}

.ytvideo{
    display: block;
    margin: auto;
    padding-bottom: 2%;
}

.imglogo{
    display: block;
    margin: auto;
}

a {
    text-decoration: none;
    color: #0060B6;
}

.textedescription{
    display: block;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
}

.videofile{
    display: block;
    margin: auto;
}


